<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-World1-f80249c3-81f9-49d5-95bb-1ca923e348b6;AttachDbFilename=|DataDirectory|\aspnet-World1-f80249c3-81f9-49d5-95bb-1ca923e348b6.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <identity  impersonate="false"></identity>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider"
          type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <!--<httpHandlers>
      <add verb="*" path="photo.aspx" type="PictureHandler.PictureHandler,PictureHandler"/>
    </httpHandlers>-->
  </system.web>

  <system.webServer>
    <!--<handlers>
      <add verb="*" path="photo.aspx" type="PictureHandler.PictureHandler,PictureHandler" name="PictureHandler" />
    </handlers>-->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>